:root {
	--primary-color: #23952E;
	--primary-color-darker: #218327;
	--secondary-color: #25B4BD;
	--secondary-color-darker: #26BAC3;
	--tertiary-color: #636362;
	--tertiary-color-darker: #4F4F4E;
	--light-gray: #E3E3E3;
	--lighter-gray: #ECECEC;
	--lightest-gray: #F5F5F5;
	--white: #FFFFFF;
	--danger: #AA1840;
	--warning: #C6A100;

	--font-size-xs: 10px;
	--font-size-s: 12px;
	--font-size-m: 16px;
	--font-size-l: 18px;
	--font-size-xl: 20px;
	--font-size-xxl: 24px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--white);
	border-radius: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #E3E3E3;
	border-radius: 10px;
}

.font-xs {
	font-size: var(--font-size-xs);
}

.font-s {
	font-size: var(--font-size-s);
}

.font-m {
	font-size: var(--font-size-m);
}

.font-l {
	font-size: var(--font-size-l);
}

.font-xl {
	font-size: var(--font-size-xl);
}

.font-xxl {
	font-size: var(--font-size-xxl);
}

.bg-white {
	background-color: var(--white);
}

.bg-light-gray {
	background-color: var(--light-gray);
}

.bg-lighter-gray {
	background-color: var(--lighter-gray);
}

.bg-lightest-gray {
	background-color: var(--lightest-gray);
}

.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-tertiary {
	color: var(--tertiary-color);
}

.text-danger {
	color: var(--danger);
}

.text-warning {
	color: var(--warning);
}

.primary-button {
	background-color: var(--primary-color) !important;
	color: var(--white) !important;
	cursor: pointer;
}

.primary-button:hover {
	background-color: var(--primary-color-darker) !important;
	color: var(--white) !important;
}

.light-button {
	background-color: var(--lighter-gray);
}

.light-button:hover {
	background-color: var(--light-gray) !important;
}

.secondary-button-outline {
	color: var(--tertiary-color) !important;
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: .375rem;
	cursor: pointer;
}

.secondary-button-outline:hover {
	background-color: var(--light-gray) !important;
}

.rounded-button {
	border-radius: 20px;
	padding: 8px 20px;
}

.tab {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	text-align: center;
}

.tab-active {
	background-color: var(--primary-color);
	color: var(--white);
}

.tab-inactive {
	background-color: var(--light-gray);
	color: var(--tertiary-color);
}

.tab-text {
	font-size: 16px;
	padding: 10px;
}

.form-check-label {
	color: var(--tertiary-color);
}

.form-check-input:checked {
	background-color: #23952E;
	border-color: #23952E;
}

.fa-chevron-down {
	padding-left: 5px;
	padding-top: 10px;
	color: var(--tertiary-color);
	cursor: pointer;
}

.fa-filter {
	color: var(--tertiary-color) !important;
	padding: 7.5px;
}







#divComercios2 {
	position: fixed;
	bottom: 20px;
	left: 20px;
	transition: all 300ms ease 0ms;
	z-index: 99999999;
}

.btn-flotante {
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	border-radius: 5px;
	letter-spacing: 2px;
	background-color: #23952E;
	padding: 18px 30px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 9999999999999999999999999999999999;
	text-decoration: none;
	width: 110px
}

.btn-flotante:hover {
	background-color: #23952E;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
	color: #ffffff;
}

#map {
	height: 100%;
	width: 100%
}

select.form-control {
	-webkit-appearance: menulist;
}

.margin-box {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

@media only screen and (max-width: 600px) {

	.container-box {
		position: absolute;
		top: 10%;
		bottom: 10%;
		left: 10px;
		right: 10px;
		margin: auto;
		height: fit-content;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}

	#map {
		height: 600px !important;
		width: 100%
	}
}